<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account is deleted, <%= @user.firstname %></h1>
    <p>
      To register again, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining.</p>
  </body>
</html>
