<div class="col-md-2">
  <%= link_to image_tag(movie.image_url(:thumb)), movie_path(movie) if movie.image? %>
  <div class="text-center", style="width:133px">
    <h5><%= movie.title %></h5>
  </div>
</div>
