<%= link_to 'Create New Movie', new_movie_path(@movie), class: 'btn btn-success pull-right' %>
<%= render 'shared/content_title', title: 'Movie List' %>
<div class="well">
  <%= render 'search' %>
  <div class="row">
    <%= render @movies %>
  </div>
</div>
