<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= render 'shared/content_title', title: 'Register' %>
    <%= render '/users/form', url: users_path(@user), method: 'POST' %>
  <div class="col-md-4"></div>
</div>
