<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= render 'shared/content_title', title: 'Edit User' %>
    <%= render '/users/form', url: admin_user_path(@user), method: 'PUT' %>
  <div class="col-md-4"></div>
</div>
